<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Attache-Brand</title>
  <link rel="stylesheet" href="../assets/styles/style.css">
  <link rel="icon" href="../assets/img/favicon.ico" type="image/x-icon">
</head>
<body>
  <!-- Хедер -->
  <header class="header">
    <div class="header__top">
      <div class="container">
        <div class="header__flex">

          <div class="header__left">
            <a href="index.html">
              <img src="../assets/img/header/header-logo.png" alt="Logo">
            </a>
          </div>

          <div class="header__center">
            <ul class="header__list">
              <li class="header__item">
                <a class="header__link" href="collection-main.html">Часы
                
                </a>
              </li>
              <li class="header__item">
                <a class="header__link" href="accesories.html">Аксессуары</a>
              </li>
              <li class="header__item">
                <a class="header__link" href="brand.html">Бренд
                  <div class="header__link-marker"></div>
                </a>
              </li>
              <li class="header__item">
                <a class="header__link" href="shops.html">Где купить</a>
              </li>
              <li class="header__item">
                <a class="header__link" href="oopsie.html">Паспорт</a>
              </li>
            </ul>
          </div>

          <div class="header__right">
            <ul class="header__list">
              <li class="header__button header__details-block"><details class="header__details">
                <summary>ENG </summary>
                <div class="header__details-content">
                  <a class="header__language" href="#">English</a>
                  <a class="header__language" href="#">Russian</a>
                </div>
              </details></li>
              <li class="header__button"><a href="profile.html"><img src="../assets/img/header/profile.svg" alt="User"></a></li>
              <li class="header__button"><a href="cart.html"><img src="../assets/img/header/shopping-bag.svg" alt="Shopping Cart"></a></li>
              <li class="header__button"><a href="oopsie.html"><img src="../assets/img/header/email.svg" alt="Mail"></a></li>
              <li class="header__button"><a href="oopsie.html"><img src="../assets/img/header/search.svg" alt="Search"></a></li>
            </ul>
          </div>

          <div class="mobile-menu__burger">
            <button class="mobile-menu__icon"><img class="mobile-menu__icon" src="../assets/img/header/burger.svg" alt="Icon"></button>
          </div>
        </div>
      </div>
    </div>

    <div class="mobile-menu">
      <div class="mobile-menu__top">
        <a href="index.html">
          <img class="mobile-menu__logo" src="../assets/img/header/header-logo.png" alt="Logo">
        </a>
        <button class="mobile-menu__close"><img src="../assets/img/header/close.png" alt="Icon"></button>
      </div>
      
      <div class="mobile-menu__container">
        <ul class="mobile-menu__list">
          <li class="mobile-menu__item">
            <a class="mobile-menu__link" href="collection-main.html">Часы</a>
          </li>
          <li class="mobile-menu__item">
            <a class="mobile-menu__link" href="accesories.html">Аксессуары</a>
          </li>
          <li class="mobile-menu__item">
            <a class="mobile-menu__link" href="brand.html">Бренд</a>
          </li>
          <li class="mobile-menu__item">
            <a class="mobile-menu__link" href="shops.html">Где купить</a>
          </li>
          <li class="mobile-menu__item">
            <a class="mobile-menu__link" href="oopsie.html">Паспорт</a>
          </li>
        </ul>
        <ul class="mobile-menu__links">
          <li class="mobile-menu__button"><a href="profile.html"><img class="mobile-menu__icons" src="../assets/img/header/profile.svg" alt="User"></a></li>
          <li class="mobile-menu__button"><a href="cart.html"><img class="mobile-menu__icons" src="../assets/img/header/shopping-bag.svg" alt="Shopping Cart"></a></li>
          <li class="mobile-menu__button"><a href="oopsie.html"><img class="mobile-menu__icons" src="../assets/img/header/email.svg" alt="Mail"></a></li>
          <li class="mobile-menu__button"><a href="oopsie.html"><img class="mobile-menu__icons" src="../assets/img/header/search.svg" alt="Search"></a></li>
        </ul>
      </div>
      <details class="mobile-menu__details">
        <summary>ENG </summary>
        <div class="mobile-menu__details-content">
          <a class="mobile-menu__language" href="#">English</a>
          <a class="mobile-menu__language" href="#">Russian</a>
        </div>
      </details>
    </div>

    <div class="crumbs">
      <div class="container">
        <ul class="crumbs__list">
          <li class="crumbs__item"><a class="crumbs__link-bold" href="index.html">Главная ></a></li>
          <li class="crumbs__item"><a class="crumbs__link" href="brand.html">Бренд</a></li>
        </ul>
      </div>
    </div>

  </header>

  <section class="brand__top">
    <div class="container">
      <h1 class="brand__heading">Attache Watch Company</h1>
    </div>
  </section>

  <section class="team">
    <div class="container">
      <div class="team__flex">
        <h4 class="team__heading">НАША КОМАНДА</h4>
        <div class="redline-bold"></div>
        <div class="team__grid">
          <img class="team__img" src="../assets/img/brand/dummy-big.jpg" alt="">
          <img class="team__img" src="../assets/img/brand/dummy-small.jpg" alt="">
          <img class="team__img" src="../assets/img/brand/dummy-small.jpg" alt="">
          <img class="team__img" src="../assets/img/brand/dummy-small.jpg" alt="">
          <img class="team__img" src="../assets/img/brand/dummy-small.jpg" alt="">
          <img class="team__img" src="../assets/img/brand/dummy-big.jpg" alt="">
        </div>
        <div class="redline-bold"></div>
        <p class="team__text">С 2016 года наша интернациональная команда дизайнеров и инженеров из России, <br class="br__toggle">
          Украины, Германии работает над возрождением часовой марки ATTACHE,<br class="br__toggle">
          история которой оборвалась в 1998 году.</p>
        <hr class="team__deco">
    </div>
  </section>

  <section class="story">
    <div class="container">
      <img class="story__top" src="../assets/img/brand/history.png" alt="History">

      <div class="story__flex">
        <h2 class="story__year">2017</h2>
        <div class="story__images">
          <img class="story__img" src="../assets/img/brand/vostok-1.png" alt="Vostok">
          <img class="story__img" src="../assets/img/brand/vostok-2.png" alt="Vostok">
        </div>
        <hr class="story__deco">
        <div class="redline-bold"></div>
        <h4 class="story__name">PILOT VOSTOK</h4>
        <p class="story__text">В 2017 году выпущена первая коллекция часов Pilot, в стиле ретро<br class="br__toggle">
        В часах был установлен доработанный прецизионный механизмом "Vostok 2431",<br class="br__toggle">
        и "Vostok 2415"с функцией автоподзавода.</p>
      </div>

      <div class="story__flex">
        <h2 class="story__year">2018</h2>
        <div class="story__images">
          <img class="story__img" src="../assets/img/brand/kirov-1.png" alt="Kirovskie">
          <img class="story__img" src="../assets/img/brand/kirov-2.png" alt="Kirovskie">
        </div>
        <hr class="story__deco">
        <div class="redline-bold"></div>
        <h4 class="story__name">Kirovskie</h4>
        <p class="story__text">В 2018 году выпущена вторая коллекция в стиле ретро под названием "Kirovskie". <br class="br__toggle">
          В часах был установлен прецизионный механизм "Molnija 3602" с ручным заводом.</p>
      </div>

      <div class="story__flex">
        <h2 class="story__year">2020</h2>
        <div class="story__images">
          <img class="story__img" src="../assets/img/brand/pilot-1.png" alt="Pilot">
          <img class="story__img" src="../assets/img/brand/pilot-2.png" alt="Pilot">
        </div>
        <hr class="story__deco">
        <div class="redline-bold"></div>
        <h4 class="story__name">PILOT AUTOMATIC</h4>
        <p class="story__text">В 2020 году выпущена новая коллекция Pilot, были использованы механизмы <br class="br__toggle">Seiko и Vostok с автоподзаводом,</p>
      </div>

      <div class="story__flex">
        <h2 class="story__year">2021</h2>
        <div class="story__images">
          <img class="story__img" src="../assets/img/brand/chrono-1.png" alt="Chronograph">
          <img class="story__img" src="../assets/img/brand/chrono-2.png" alt="Chronograph">
        </div>
        <hr class="story__deco">
        <div class="redline-bold"></div>
        <h4 class="story__name">PILOT CHRONOGRAPH</h4>
        <p class="story__text">В 2021 году коллекция "Pilot" пополнила версия часов с механизмом <br class="br__toggle">
          Seiko VK премиум хронограф.</p>
      </div>

      <div class="story__flex">
        <h2 class="story__year">2022</h2>
        <div class="story__images">
          <img class="story__img" src="../assets/img/brand/sea-1.png" alt="Deep sea">
          <img class="story__img" src="../assets/img/brand/sea-2.png" alt="Deep sea">
        </div>
        <hr class="story__deco">
        <div class="redline-bold"></div>
        <h4 class="story__name">DEEP SEA AUTOMATIC</h4>
        <p class="story__text">В апреле 2022 года выпущена новая коллекция часов для дайвинга Deep See, <br class="br__toggle">
          часы с автоподзаводом, с водозащитой до 200 метров.</p>
      </div>
    </div>
  </section>

  <div class="container">
    <div class="whitespace__block">
      <div class="whitespace"></div>
    </div>
  </div>

  <!-- Подвал -->
  <footer class="footer">
    <div class="container">
      <div class="footer__flex">
        <!-- Текстовые ссылки -->
        <div class="footer__nav">
          <ul class="footer__list">
            <li class="footer__item"><a class="footer__link" href="oopsie.html">Новости</a></li>
            <li class="footer__item"><a class="footer__link" href="oopsie.html">Вакансии</a></li>
            <li class="footer__item"><a class="footer__link" href="shops.html">Магазины в россии и мире</a></li>
            <li class="footer__item"><a class="footer__link" href="distributers.html">Дистрибьютер - стать официальным партнером</a></li>
            <li class="footer__item"><a class="footer__link" href="service.html">Гарантия и сервис</a></li>
            <li class="footer__item"><a class="footer__link" href="oopsie.html">Контакты</a></li>
          </ul>
        </div>
        <!-- Ссылки на соцсети -->
        <div class="footer__social">
          <ul class="footer__list-social">
            <li class="footer__item-social"><a href="#"><img src="../assets/img/footer/instagram.png" alt="Instagram"></a></li>
            <li class="footer__item-social"><a href="#"><img src="../assets/img/footer/facebook.png" alt="Facebook"></a></li>
            <li class="footer__item-social"><a href="#"><img src="../assets/img/footer/youtube.png" alt="Youtube"></a></li>
            <li class="footer__item-social"><a href="#"><img src="../assets/img/footer/twitter.png" alt="Twitter"></a></li>
            <li class="footer__item-social"><a href="#"><img src="../assets/img/footer/linkedin.png" alt="LinkedIn"></a></li>
            <li class="footer__item-social"><a href="#"><img src="../assets/img/footer/google-plus.png" alt="Google-Plus"></a></li>
            <li class="footer__item-social"><a href="#"><img src="../assets/img/footer/behance.png" alt="Behance"></a></li>
            <li class="footer__item-social"><a href="#"><img src="../assets/img/footer/pinterest.png" alt="Pinterest"></a></li>
          </ul>
        </div>
        <!-- Красное лого -->
        <div class="footer__logo">
          <img src="../assets/img/footer/footer-logo.png" alt="Logo">
        </div>
        <!-- Красная полоска -->
        <hr>
        <!-- Копирайт -->
        <div class="footer__copyright">© 2022 ATTACHE - Все права на интеллектуальную собственность защищены</div>
      </div>
    </div>
  </footer>
  <script src="../assets/scripts/mobile-menu.js"></script>
</body>
</html>