<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Attache - Watches</title>
  <link rel="stylesheet" href="../assets/styles/style.css">
  <link rel="icon" href="../assets/img/favicon.ico" type="image/x-icon">
</head>
<body>
  <!-- Хедер -->
  <header class="header">
    <div class="header__top">
      <div class="container">
        <div class="header__flex">

          <div class="header__left">
            <a href="index.html">
              <img src="../assets/img/header/header-logo.png" alt="Logo">
            </a>
          </div>

          <div class="header__center">
            <ul class="header__list">
              <li class="header__item">
                <a class="header__link" href="collection-main.html">Часы
                  <div class="header__link-marker"></div>
                </a>
              </li>
              <li class="header__item">
                <a class="header__link" href="accesories.html">Аксессуары</a>
              </li>
              <li class="header__item">
                <a class="header__link" href="brand.html">Бренд
                  
                </a>
              </li>
              <li class="header__item">
                <a class="header__link" href="shops.html">Где купить</a>
              </li>
              <li class="header__item">
                <a class="header__link" href="oopsie.html">Паспорт</a>
              </li>
            </ul>
          </div>

          <div class="header__right">
            <ul class="header__list">
              <li class="header__button header__details-block"><details class="header__details">
                <summary>ENG </summary>
                <div class="header__details-content">
                  <a class="header__language" href="#">English</a>
                  <a class="header__language" href="#">Russian</a>
                </div>
              </details></li>
              <li class="header__button"><a href="profile.html"><img src="../assets/img/header/profile.svg" alt="User"></a></li>
              <li class="header__button"><a href="cart.html"><img src="../assets/img/header/shopping-bag.svg" alt="Shopping Cart"></a></li>
              <li class="header__button"><a href="oopsie.html"><img src="../assets/img/header/email.svg" alt="Mail"></a></li>
              <li class="header__button"><a href="oopsie.html"><img src="../assets/img/header/search.svg" alt="Search"></a></li>
            </ul>
          </div>

          <div class="mobile-menu__burger">
            <button class="mobile-menu__icon"><img class="mobile-menu__icon" src="../assets/img/header/burger.svg" alt="Icon"></button>
          </div>
        </div>
      </div>
    </div>

    <div class="mobile-menu">
      <div class="mobile-menu__top">
        <a href="index.html">
          <img class="mobile-menu__logo" src="../assets/img/header/header-logo.png" alt="Logo">
        </a>
        <button class="mobile-menu__close"><img src="../assets/img/header/close.png" alt="Icon"></button>
      </div>
      
      <div class="mobile-menu__container">
        <ul class="mobile-menu__list">
          <li class="mobile-menu__item">
            <a class="mobile-menu__link" href="collection-main.html">Часы</a>
          </li>
          <li class="mobile-menu__item">
            <a class="mobile-menu__link" href="accesories.html">Аксессуары</a>
          </li>
          <li class="mobile-menu__item">
            <a class="mobile-menu__link" href="brand.html">Бренд</a>
          </li>
          <li class="mobile-menu__item">
            <a class="mobile-menu__link" href="shops.html">Где купить</a>
          </li>
          <li class="mobile-menu__item">
            <a class="mobile-menu__link" href="oopsie.html">Паспорт</a>
          </li>
        </ul>
        <ul class="mobile-menu__links">
          <li class="mobile-menu__button"><a href="profile.html"><img class="mobile-menu__icons" src="../assets/img/header/profile.svg" alt="User"></a></li>
          <li class="mobile-menu__button"><a href="cart.html"><img class="mobile-menu__icons" src="../assets/img/header/shopping-bag.svg" alt="Shopping Cart"></a></li>
          <li class="mobile-menu__button"><a href="oopsie.html"><img class="mobile-menu__icons" src="../assets/img/header/email.svg" alt="Mail"></a></li>
          <li class="mobile-menu__button"><a href="oopsie.html"><img class="mobile-menu__icons" src="../assets/img/header/search.svg" alt="Search"></a></li>
        </ul>
      </div>
      <details class="mobile-menu__details">
        <summary>ENG </summary>
        <div class="mobile-menu__details-content">
          <a class="mobile-menu__language" href="#">English</a>
          <a class="mobile-menu__language" href="#">Russian</a>
        </div>
      </details>
    </div>

    <div class="crumbs">
      <div class="container">
        <ul class="crumbs__list">
          <li class="crumbs__item"><a class="crumbs__link-bold" href="index.html">Главная ></a></li>
          <li class="crumbs__item"><a class="crumbs__link" href="collection-main.html">Часы</a></li>
        </ul>
      </div>
    </div>

  </header>

  <section class="shopTop">
    <div class="container">
      <div class="shopTop__name">
        <h1 class="shopTop__heading">ЧАСЫ</h1>
        <hr class="shopTop__deco">
      </div>
      <div class="shopTop__grid">
        <a class="clock__link" href="watch-card.html">
          <div class="clock clock-negative">
            <img class="clock__img" src="../assets/img/clock/watch-1.png" alt="Watch">
            <h2 class="clock__head clock-negative__head">Pilot</h2>
            <hr class="clock__deco clock-negative__deco">
            <div class="clock__price">
              <span class="clock__amount clock-negative__amount">30 000</span>
              <span class="clock__currency clock-negative__currency">₽</span>
            </div>
            <hr class="clock__redline">
          </div>
        </a>
        <a class="clock__link" href="watch-card.html">
          <div class="clock clock-negative">
            <img class="clock__img" src="../assets/img/clock/watch-2.png" alt="Watch">
            <h2 class="clock__head clock-negative__head">Pilot</h2>
            <hr class="clock__deco clock-negative__deco">
            <div class="clock__price">
              <span class="clock__amount clock-negative__amount">25 000</span>
              <span class="clock__currency clock-negative__currency">₽</span>
            </div>
            <hr class="clock__redline">
          </div>
        </a>
        <a class="clock__link" href="watch-card.html">
          <div class="clock clock-negative">
            <img class="clock__img" src="../assets/img/clock/watch-3.png" alt="Watch">
            <h2 class="clock__head clock-negative__head">Pilot</h2>
            <hr class="clock__deco clock-negative__deco">
            <div class="clock__price">
              <span class="clock__amount clock-negative__amount">20 000</span>
              <span class="clock__currency clock-negative__currency">₽</span>
            </div>
            <hr class="clock__redline">
          </div>
        </a>
        <a class="clock__link" href="watch-card.html">
          <div class="clock clock-negative">
            <img class="clock__img" src="../assets/img/clock/watch-4.png" alt="Watch">
            <h2 class="clock__head clock-negative__head">Pilot</h2>
            <hr class="clock__deco clock-negative__deco">
            <div class="clock__price">
              <span class="clock__amount clock-negative__amount">25 000</span>
              <span class="clock__currency clock-negative__currency">₽</span>
            </div>
            <hr class="clock__redline">
          </div>
        </a>
      </div>
    </div>
  </section>

  <div class="departments__button-wrapper">
    <button class="departments__button">Посмотреть все часы</button>
  </div>

  <section class="departments">
    <div class="container">
      <div class="departments__wrap">
          <a class="departments__link" href="accesories.html">
            <div class="departments__label">
              <h2 class="departments__heading">Аксессуары</h2>
              <hr class="departments__deco">
              <h3 class="departments__h3">Аксессуары</h3>
            </div>
          </a>
          <a class="departments__link" href="overview.html">
            <div class="departments__label">
              <h2 class="departments__heading">Купить</h2>
              <hr class="departments__deco">
              <span class="departments__text">официально на нашем сайте сейчас</span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="presentation">
    <div class="presentation__block">
      <h1 class="presentation__heading">DEEP SEA</h1>
      <h3 class="presentation__text">Премьера часов</h3>
      <a class="presentation__link" href="#">ПОСМОТРЕТЬ премьеру</a>
    </div>
  </section>

  <div class="container">
    <div class="shop__whitespace-block">
      <div class="shop__whitespace"></div>
    </div>
  </div>

  <!-- Подвал -->
  <footer class="footer">
    <div class="container">
      <div class="footer__flex">
        <!-- Текстовые ссылки -->
        <div class="footer__nav">
          <ul class="footer__list">
            <li class="footer__item"><a class="footer__link" href="oopsie.html">Новости</a></li>
            <li class="footer__item"><a class="footer__link" href="oopsie.html">Вакансии</a></li>
            <li class="footer__item"><a class="footer__link" href="shops.html">Магазины в россии и мире</a></li>
            <li class="footer__item"><a class="footer__link" href="distributers.html">Дистрибьютер - стать официальным партнером</a></li>
            <li class="footer__item"><a class="footer__link" href="service.html">Гарантия и сервис</a></li>
            <li class="footer__item"><a class="footer__link" href="oopsie.html">Контакты</a></li>
          </ul>
        </div>
        <!-- Ссылки на соцсети -->
        <div class="footer__social">
          <ul class="footer__list-social">
            <li class="footer__item-social"><a href="#"><img src="../assets/img/footer/instagram.png" alt="Instagram"></a></li>
            <li class="footer__item-social"><a href="#"><img src="../assets/img/footer/facebook.png" alt="Facebook"></a></li>
            <li class="footer__item-social"><a href="#"><img src="../assets/img/footer/youtube.png" alt="Youtube"></a></li>
            <li class="footer__item-social"><a href="#"><img src="../assets/img/footer/twitter.png" alt="Twitter"></a></li>
            <li class="footer__item-social"><a href="#"><img src="../assets/img/footer/linkedin.png" alt="LinkedIn"></a></li>
            <li class="footer__item-social"><a href="#"><img src="../assets/img/footer/google-plus.png" alt="Google-Plus"></a></li>
            <li class="footer__item-social"><a href="#"><img src="../assets/img/footer/behance.png" alt="Behance"></a></li>
            <li class="footer__item-social"><a href="#"><img src="../assets/img/footer/pinterest.png" alt="Pinterest"></a></li>
          </ul>
        </div>
        <!-- Красное лого -->
        <div class="footer__logo">
          <img src="../assets/img/footer/footer-logo.png" alt="Logo">
        </div>
        <!-- Красная полоска -->
        <hr>
        <!-- Копирайт -->
        <div class="footer__copyright">© 2022 ATTACHE - Все права на интеллектуальную собственность защищены</div>
      </div>
    </div>
  </footer>
  <script src="../assets/scripts/mobile-menu.js"></script>
  
</body>
</html>