<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Attache-Service</title>
  <link rel="stylesheet" href="../assets/styles/style.css">
  <link rel="icon" href="../assets/img/favicon.ico" type="image/x-icon">
</head>
<body>
  <!-- Хедер -->
  <header class="header">
    <div class="header__top">
      <div class="container">
        <div class="header__flex">

          <div class="header__left">
            <a href="index.html">
              <img src="../assets/img/header/header-logo.png" alt="Logo">
            </a>
          </div>

          <div class="header__center">
            <ul class="header__list">
              <li class="header__item">
                <a class="header__link" href="#">Часы
                  
                </a>
              </li>
              <li class="header__item">
                <a class="header__link" href="#">Аксессуары
                  
                </a>
              </li>
              <li class="header__item">
                <a class="header__link" href="#">Бренд
                  
                </a>
              </li>
              <li class="header__item">
                <a class="header__link" href="#">Где купить
            
                </a>
              </li>
              <li class="header__item">
                <a class="header__link" href="#">Паспорт</a>
              </li>
            </ul>
          </div>

          <div class="header__right">
            <ul class="header__list">
              <li class="header__button header__details-block"><details class="header__details">
                <summary>ENG </summary>
                <div class="header__details-content">
                  <a class="header__language" href="">English</a>
                  <a class="header__language" href="">Russian</a>
                </div>
              </details></li>
              <li class="header__button"><a href=""><img src="../assets/img/header/profile.svg" alt="User"></a></li>
              <li class="header__button"><a href=""><img src="../assets/img/header/shopping-bag.svg" alt="Shopping Cart"></a></li>
              <li class="header__button"><a href=""><img src="../assets/img/header/email.svg" alt="Mail"></a></li>
              <li class="header__button"><a href=""><img src="../assets/img/header/search.svg" alt="Search"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="crumbs">
      <div class="container">
        <ul class="crumbs__list">
          <li class="crumbs__item"><a class="crumbs__link-bold" href="index.html">Главная ></a></li>
          <li class="crumbs__item"><a class="crumbs__link" href="index.html">ГАРАНТИЯ И СЕРВИС</a></li>
        </ul>
      </div>
    </div>

  </header>

  <section class="minimalTop">
    <div class="container">
      <div class="minimalTop__name">
        <h1 class="minimalTop__heading">ГАРАНТИЯ И СЕРВИС</h1>
        <hr class="minimalTop__deco">
        <h2 class="minimalTop__heading-mini">ПОЛНАЯ ГАРАНТИЯ НА ОБСЛУЖИВАНИЕ</h2>
      </div>
      <div class="minimalTop__container">
        <div class="redline-bold"></div>
      </div>
    </div>
  </section>

  <section class="service">
    <div class="container">
      <div class="service__block">
        <img class="service__img" src="../assets/img/service/watch.png" alt="Watch">
        <h3 class="service__head">ГАРАНТИЯ НА ЧАСЫ ATTACHE</h3>
        <hr class="service__deco">
        <span class="service__text">НА ВСЕ НАРУЧНЫЕ ЧАСЫ, ATTACHE, МЕХАНИЧЕСКИЕ И КВАРЦЕВЫЕ, И ДРУГИЕ МОДЕЛИ НАШЕГО ПРОИЗВОДСТВА ПРЕДОСТАВЛЯЕТСЯ ГАРАНТИЯ СРОКОМ НА 12 МЕСЯЦЕВ. ОТСЧЕТ ДАННОГО СРОКА СЧИТАЕТСЯ СО ДНЯ ПРИОБРЕТЕНИЯ ТОВАРА.</span>
        <hr class="service__redline">
        <h4 class="service__conditions">УСЛОВИЯ РЕМОНТА</h4>
        <div class="service__flex">
          <div class="service__item">
            <span class="service__number">1</span>
            <span class="service__condition">В СЛУЧАЕ ОБНАРУЖЕНИЯ БРАКА ВАМ НУЖНО ОБРАТИТЬСЯ ПО ТЕЛЕФОНАМ ИЛИ E-MAIL УКАЗАННЫМ В ПАСПОРТЕ ИЗДЕЛИЯ</span>
          </div>
          <div class="service__item">
            <span class="service__number">2</span>
            <span class="service__condition">РЕМОНТ В РАМКАХ ГАРАНТИИ — ЭТО ВЫПОЛНЕНИЕ РАБОТ ПО УСТРАНЕНИЮ ПОВРЕЖДЕНИЙ И НЕИСПРАВНОСТЕЙ, ЗАМЕНЕ ВЫШЕДШИХ ИЗ СТРОЯ ДЕТАЛЕЙ</span>
          </div>
          <div class="service__item">
            <span class="service__number">3</span>
            <span class="service__condition">РЕМОНТ ПРОИЗВОДИТСЯ В ТЕЧЕНИИ 14 ДНЕЙ — ЗА ИСКЛЮЧЕНИЕМ СЛУЧАЕВ, КОГДА НЕОБХОДИМ ЗАКАЗ ЗАПАСНЫХ ДЕТАЛЕЙ</span>
          </div>
        </div>
        <hr class="service__redline">
        <h4 class="service__conditions">НА ЧТО НЕ РАСПРОСТРАНЯЕТСЯ ГАРАНТИЯ
        </h4>
        <img class="service__img" src="../assets/img/service/fileboard.png" alt="icon">
        <span class="service__text">НАЛИЧИЕ ПОВРЕЖДЕНИЙ И НЕИСПРАВНОСТЕЙ, ВОЗНИКШИХ В СЛЕДСТВИЕ НАРУШЕНИЯ ПРАВИЛ ЭКСПЛУАТАЦИИ</span>
        <img class="service__img" src="../assets/img/service/service.png" alt="icon">
        <span class="service__text">НАЛИЧИЕ СЛЕДОВ САМОСТОЯТЕЛЬНОГО ВСКРЫТИЯ И РЕМОНТА</span>
        <img class="service__img" src="../assets/img/service/stat.png" alt="icon">
        <span class="service__text">НАЛИЧИЕ ПОВРЕЖДЕНИЙ, ВОЗНИКШИХ ВСЛЕДСТВИЕ ВОЗДЕЙСТВИЯ СТИХИЙ, ВЫСОКИХ ТЕМПЕРАТУР, СТАТИЧЕСКОГО ЭЛЕКТРИЧЕСТВА</span>
        <div class="service__redline-small"></div>
        <img class="service__img" src="../assets/img/service/star.png" alt="icon">
        <h5 class="service__contact">СВЯЗАТЬСЯ С СЕРВИСОМ</h5>
        <a class="service__mail" href="mailto:service@attache.com">SERVICE@ATTACHE.COM</a>
      </div>
    </div>
  </section>

  <div class="container">
    <div class="whitespace__block">
      <div class="whitespace"></div>
    </div>
  </div>

  <!-- Подвал -->
  <footer class="footer">
    <div class="container">
      <div class="footer__flex">
        <!-- Текстовые ссылки -->
        <div class="footer__nav">
          <ul class="footer__list">
            <li class="footer__item"><a class="footer__link" href="#">Новости</a></li>
            <li class="footer__item"><a class="footer__link" href="#">Вакансии</a></li>
            <li class="footer__item"><a class="footer__link" href="#">Магазины в россии и мире</a></li>
            <li class="footer__item"><a class="footer__link" href="#">Дистрибьютер - стать официальным партнером</a></li>
            <li class="footer__item"><a class="footer__link" href="#">Гарантия и сервис</a></li>
            <li class="footer__item"><a class="footer__link" href="#">Контакты</a></li>
          </ul>
        </div>
        <!-- Ссылки на соцсети -->
        <div class="footer__social">
          <ul class="footer__list">
            <li class="footer__item-social"><a href="#"><img src="../assets/img/footer/instagram.png" alt="Instagram"></a></li>
            <li class="footer__item-social"><a href="#"><img src="../assets/img/footer/facebook.png" alt="Facebook"></a></li>
            <li class="footer__item-social"><a href="#"><img src="../assets/img/footer/youtube.png" alt="Youtube"></a></li>
            <li class="footer__item-social"><a href="#"><img src="../assets/img/footer/twitter.png" alt="Twitter"></a></li>
            <li class="footer__item-social"><a href="#"><img src="../assets/img/footer/linkedin.png" alt="LinkedIn"></a></li>
            <li class="footer__item-social"><a href="#"><img src="../assets/img/footer/google-plus.png" alt="Google-Plus"></a></li>
            <li class="footer__item-social"><a href="#"><img src="../assets/img/footer/behance.png" alt="Behance"></a></li>
            <li class="footer__item-social"><a href="#"><img src="../assets/img/footer/pinterest.png" alt="Pinterest"></a></li>
          </ul>
        </div>
        <!-- Красное лого -->
        <div class="footer__logo">
          <img src="../assets/img/footer/footer-logo.png" alt="Logo">
        </div>
        <!-- Красная полоска -->
        <hr>
        <!-- Копирайт -->
        <div class="footer__copyright">© 2022 ATTACHE - Все права на интеллектуальную собственность защищены</div>
      </div>
    </div>
  </footer>

</body>
</html>