<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Attache - Watch Page</title>
  <link rel="stylesheet" href="../assets/styles/style.css">
  <link rel="icon" href="../assets/img/favicon.ico" type="image/x-icon">
</head>
<body>
  <!-- Хедер -->
  <header class="header">
    <div class="header__top">
      <div class="container">
        <div class="header__flex">
          <div class="header__left">
            <a href="index.html">
              <img src="../assets/img/header/header-logo.png" alt="Logo">
            </a>
          </div>
          <div class="header__center">
            <ul class="header__list">
              <li class="header__item">
                <a class="header__link" href="#">Часы
                  <div class="header__link-marker"></div>
                </a>
              </li>
              <li class="header__item">
                <a class="header__link" href="#">Аксессуары</a>
              </li>
              <li class="header__item">
                <a class="header__link" href="#">Бренд</a>
              </li>
              <li class="header__item">
                <a class="header__link" href="#">Где купить</a>
              </li>
              <li class="header__item">
                <a class="header__link" href="#">Паспорт</a>
              </li>
            </ul>
          </div>
          <div class="header__right">
            <ul class="header__list">
              <li class="header__button header__details-block"><details class="header__details">
                <summary>ENG </summary>
                <div class="header__details-content">
                  <a class="header__language" href="">English</a>
                  <a class="header__language" href="">Russian</a>
                </div>
              </details></li>
              <li class="header__button"><a href=""><img src="../assets/img/header/profile.svg" alt="User"></a></li>
              <li class="header__button"><a href=""><img src="../assets/img/header/shopping-bag.svg" alt="Shopping Cart"></a></li>
              <li class="header__button"><a href=""><img src="../assets/img/header/email.svg" alt="Mail"></a></li>
              <li class="header__button"><a href=""><img src="../assets/img/header/search.svg" alt="Search"></a></li>
              
            </ul>
          </div>

        </div>
      </div>
    </div>
    <div class="crumbs">
      <div class="container">
        <div>
          <ul class="crumbs__list">
            <li class="crumbs__item"><a class="crumbs__link-bold" href="index.html">Главная ></a></li>
            <li class="crumbs__item"><a class="crumbs__link" href="index.html">Часы ></a></li>
            <li class="crumbs__item"><a class="crumbs__link" href="index.html">PILOT AUTOMATIC</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>

  <section class="showWatch">
    <div class="container">
      <div class="showWatch__flex">
        <div class="showWatch__left">
          <h1 class="showWatch__heading">PILOT</h1>
          <h3 class="showWatch__heading-small">automatic</h3>
          <hr class="showWatch__line">
          <span class="showWatch__text">Автоматические часы 42mm</span>
          <span class="showWatch__text-bold">NH 2408-M090-s001</span>
          <hr class="showWatch__line-thin">
          <div class="showWatch__minis">
            <div class="showWatch__mini">
              <img src="../assets/img/watch-card/watch-front.png" alt="Watch">
            </div>
            <div class="showWatch__mini">
              <img src="../assets/img/watch-card/watch-back.png" alt="Watch">
            </div>
          </div>
        </div>
        <div class="showWatch__center">
          <img src="../assets/img/watch-card/watch-face.png" alt="Watch">
          <div class="showWatch__controls">
            <button class="showWatch__control"><img src="../assets/img/watch-card/arrow-left.png" alt=""></button>
            <button class="showWatch__control"><img src="../assets/img/watch-card/zoom.png" alt="">&nbsp;ZOOM</button>
            <button class="showWatch__control"><img src="../assets/img/watch-card/arrow-right.png" alt=""></button>
          </div>
        </div>
        <div class="showWatch__right">
          <div class="showWatch__grid">
            <div class="showWatch__cell"><span>механизм:</span></div>
            <div class="showWatch__cell"><span>Автоматический</span><span>NH 95 Швейцария</span></div>
            <div class="showWatch__cell"><span>Корпус:</span></div>
            <div class="showWatch__cell"><span>нержавеющая сталь</span></div>
            <div class="showWatch__cell"><span>Покрытие:</span></div>
            <div class="showWatch__cell"><span>полированное/</span><span>хромированное</span></div>
            <div class="showWatch__cell"><span>стекло:</span></div>
            <div class="showWatch__cell"><span>сапфировое</span></div>
            <div class="showWatch__cell"><span>ремень/браслет</span></div>
            <div class="showWatch__cell"><span>каучук</span></div>
            <div class="showWatch__cell"><span>водозащита:</span></div>
            <div class="showWatch__cell"><span>100ATM (100 метров)</span></div>
            <div class="showWatch__cell"><span>Размер корпуса:</span></div>
            <div class="showWatch__cell"><span>42 мм</span></div>
            <div class="showWatch__cell"><span>размер ремешка:</span></div>
            <div class="showWatch__cell"><span>18 mm</span></div>
          </div>
          <hr class="showWatch__line">
          <div class="showWatch__price">
            <h3 class="showWatch__amount">30 500</h3>
            <h3 class="showWatch__currency">₽</h3>
          </div>
          <button class="showWatch__button">КУПИТЬ ЭТИ ЧАСЫ</button>
          <hr class="showWatch__line-thin">
          <div class="showWatch__links">
            <button class="showWatch__control"><img src="../assets/img/watch-card/connection.png" alt="link"></button>
            <button class="showWatch__control"><img src="../assets/img/watch-card/love.png" alt="like"></button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="watchCard">
    <div class="container">
      <div class="watchCard__info">
        <img src="../assets/img/watch-card/logo-big.png" alt="logo">
      </div>
      <div class="watchCard__grid">
        <div class="watchCard__cell watchCard__top"><img class="watchCard__cell-img" src="../assets/img/watch-card/image-1.png" alt="watch"></div>
        <div class="watchCard__cell watchCard__mid1">
          <img class="watchCard__cell-img" src="../assets/img/watch-card/image-2.png" alt="watch">
          <div class="watchCard__label"><img src="../assets/img/watch-card/zoom.png" alt=""></div>
        </div>
        <div class="watchCard__cell watchCard__mid2">
          <img class="watchCard__cell-img" src="../assets/img/watch-card/image-3.png" alt="watch">
          <div class="watchCard__label"><img src="../assets/img/watch-card/zoom.png" alt=""></div>
        </div>
        <a href="#" class="watchCard__cell watchCard__bottom1">
          <img class="watchCard__cell-img" src="../assets/img/watch-card/image-4.png" alt="watch">
          <div class="watchCard__label"><img src="../assets/img/watch-card/instagram.png" alt=""></div>
        </a>
        <a href="#" class="watchCard__cell watchCard__bottom2">
          <div class="watchCard__instaLabel">
            <img src="../assets/img/watch-card/instagram-big.png" alt="instagram">
            <span>следите за нами в:</span>
            <h4>INSTAGRAM</h4>
          </div>
        </a>
        <a href="#" class="watchCard__cell watchCard__bottom3">
          <img class="watchCard__cell-img" src="../assets/img/watch-card/image-5.png" alt="watch">
          <div class="watchCard__label"><img src="../assets/img/watch-card/instagram.png" alt=""></div>
        </a>
      </div>
      <div class="watchCard__wrap">
        <div class="watchCard__block">
          <h4>Он-ЛАЙН ПОМОЩЬ ПРИ ПОКУПКЕ</h4>
          <span class="watchCard__block-text">Напишите или позвоните нам  и наши менеджеры помогут Вам:</span>
        </div>
        <div class="watchCard__block">
          <a class="watchCard__mail" href="mailto:on-lineshop@attache.ru"><img src="../assets/img/warranty/mail.svg" alt="Mail">&nbsp;<span>on-lineshop@attache.ru</span></a>
          <a class="watchCard__phone" href="tel:+74956402502"><img src="../assets/img/warranty/phone.svg" alt="Phone">&nbsp;<span>+7(495) 640-25-02</span></a>
        </div>
      </div>
    </div>
  </section>

  <section class="showcase">
    <div class="container">
      <div class="showcase__block">
        <div class="showcase__head">
          <h2>ВЫБРАТЬ СВОй PILOT</h2>
          <hr class="showcase__decor">
        </div>
        <div class="showcase__slider">
          <div class="showcase__slide">
            <a class="clock__link" href="#">
              <div class="clock">
                <img class="clock__img" src="../assets/img/clock/watch-1.png" alt="Watch">
                <h2 class="clock__head">Pilot</h2>
                <span class="clock__name">chronograph</span>
                <hr class="clock__deco">
                <span class="clock__art">AРТ 2420.350.1</span>
                <div class="clock__price">
                  <span class="clock__amount">30 000</span>
                  <span class="clock__currency">₽</span>
                </div>
                <hr class="clock__redline">
              </div>
            </a>
            
            <a class="clock__link" href="#">
              <div class="clock">
                <img class="clock__img" src="../assets/img/clock/watch-2.png" alt="Watch">
                <h2 class="clock__head">Pilot</h2>
                <span class="clock__name">AUTOMATIC</span>
                <hr class="clock__deco">
                <span class="clock__art">AРТ 2420.350.1</span>
                <div class="clock__price">
                  <span class="clock__amount">25 000</span>
                  <span class="clock__currency">₽</span>
                </div>
                <hr class="clock__redline">
              </div>
            </a>
            <a class="clock__link" href="#">
              <div class="clock">
                <img class="clock__img" src="../assets/img/clock/watch-3.png" alt="Watch">
                <h2 class="clock__head">Pilot</h2>
                <span class="clock__name">24 Hour</span>
                <hr class="clock__deco">
                <span class="clock__art">AРТ 2420.350.1</span>
                <div class="clock__price">
                  <span class="clock__amount">20 000</span>
                  <span class="clock__currency">₽</span>
                </div>
                <hr class="clock__redline">
              </div>
            </a>
            <a class="clock__link" href="#">
              <div class="clock">
                <img class="clock__img" src="../assets/img/clock/watch-4.png" alt="Watch">
                <h2 class="clock__head">Pilot</h2>
                <span class="clock__name">AUTOMATIC</span>
                <hr class="clock__deco">
                <span class="clock__art">AРТ 2420.350.1</span>
                <div class="clock__price">
                  <span class="clock__amount">25 000</span>
                  <span class="clock__currency">₽</span>
                </div>
                <hr class="clock__redline">
              </div>
            </a>
          </div>
        </div>
        <div class="showcase__button-wrapper">
          <button class="showcase__button">Посмотреть все часы</button>
        </div>
      </div>
    </div>
  </section>

  <div class="container">
    <div class="whitespace__block">
      <div class="whitespace"></div>
    </div>
  </div>

  <!-- Подвал -->
  <footer class="footer">
    <div class="container">
      <div class="footer__flex">
        <!-- Текстовые ссылки -->
        <div class="footer__nav">
          <ul class="footer__list">
            <li class="footer__item"><a class="footer__link" href="#">Новости</a></li>
            <li class="footer__item"><a class="footer__link" href="#">Вакансии</a></li>
            <li class="footer__item"><a class="footer__link" href="#">Магазины в россии и мире</a></li>
            <li class="footer__item"><a class="footer__link" href="#">Дистрибьютер - стать официальным партнером</a></li>
            <li class="footer__item"><a class="footer__link" href="#">Гарантия и сервис</a></li>
            <li class="footer__item"><a class="footer__link" href="#">Контакты</a></li>
          </ul>
        </div>
        <!-- Ссылки на соцсети -->
        <div class="footer__social">
          <ul class="footer__list">
            <li class="footer__item-social"><a href="#"><img src="../assets/img/footer/instagram.png" alt="Instagram"></a></li>
            <li class="footer__item-social"><a href="#"><img src="../assets/img/footer/facebook.png" alt="Facebook"></a></li>
            <li class="footer__item-social"><a href="#"><img src="../assets/img/footer/youtube.png" alt="Youtube"></a></li>
            <li class="footer__item-social"><a href="#"><img src="../assets/img/footer/twitter.png" alt="Twitter"></a></li>
            <li class="footer__item-social"><a href="#"><img src="../assets/img/footer/linkedin.png" alt="LinkedIn"></a></li>
            <li class="footer__item-social"><a href="#"><img src="../assets/img/footer/google-plus.png" alt="Google-Plus"></a></li>
            <li class="footer__item-social"><a href="#"><img src="../assets/img/footer/behance.png" alt="Behance"></a></li>
            <li class="footer__item-social"><a href="#"><img src="../assets/img/footer/pinterest.png" alt="Pinterest"></a></li>
          </ul>
        </div>
        <!-- Красное лого -->
        <div class="footer__logo">
          <img src="../assets/img/footer/footer-logo.png" alt="Logo">
        </div>
        <!-- Красная полоска -->
        <hr>
        <!-- Копирайт -->
        <div class="footer__copyright">© 2022 ATTACHE - Все права на интеллектуальную собственность защищены</div>
      </div>
    </div>
  </footer>

</body>
</html>