.accesories {
  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 0 20px;
  }
  &__filter {
    margin: 0 auto 40px;
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
  }
  &__select {
    width: 48%;
    position: relative;
    height: 50px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.4;
    font-family: Acrom, sans-serif;
    color: #757575;
    font-weight: 400;
  }
  &__select select {
    outline: none;
    height: 100%;
    display: block;
    width: 100%;
    padding-left: 30px;
    background: #f7f7f7;
    border: 1px solid #dadada;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 14px;
    line-height: 1.4;
    font-family: Acrom, sans-serif;
    color: #17181f;
    font-weight: 500;
    text-transform: uppercase;
  }
  &__select:after {
    width: 50px;
    content: url(../img/accesories/arrow-down.png);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 9px 1px 9px;
    border-left: 1px solid #dadada;
    // box-sizing: border-box;
    background: #ec001f;
    pointer-events: none;
    position: absolute;
    top: 0;
    right: 1px;
  }
  &__button {
    height: 48px;
    background: #ec001f;
    border: none;
    width: 48.5%;
    text-transform: uppercase;
    color: #fff;
    padding: 12px 0;
    text-align: center;
    font-weight: 500;
    cursor: pointer;
    font-size: 14px;
    line-height: 1.4;
    font-family: Acrom, sans-serif;
  }

  @media (max-width:1280px) {
    &__grid {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
  @media (max-width:1100px) {
    &__filter {
      width: 95%;
    }
  }
  @media (max-width:990px) {
    &__grid {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  @media (max-width:760px) {
    &__filter {
      width: 100%;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;
    }
    &__select {
      width: 95%;
    }
    &__grid {
      grid-template-columns: 1fr 1fr;
    }
    &__button {
      margin-top: 20px;
      width: 95%;
    }
  }
  @media (max-width:425px) {
    &__grid {
      grid-template-columns: 1fr;
    }
  }
  @media (max-width:360px) {
    &__select {
      font-size: 12px;
    }
    &__select:after {
      width: 30px;
      content: url(../img/accesories/arrow-down.png);
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 8px 9px 1px 9px;
      border-left: 1px solid #dadada;
      // box-sizing: border-box;
      background: #ec001f;
      pointer-events: none;
      position: absolute;
      top: 0;
      right: 1px;
    }
  }
}