.overview {
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 109px;
    border-bottom: 2px solid #c5c5c5;
  }
  &__divider {
    height: 2px;
    border: none;
    background-color: #c5c5c5;
  }
  &__expand-wrapper {
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__button {
    background: none;
    border: none;
  }
}