.showWatch {
  background: url(../img/watch-card/back-named.png);
  background-repeat: no-repeat;
  background-position: center;
  margin-top: -144px;
  background-size: cover;
  &__flex {
    display: flex;
    justify-content: space-between;
    
    padding-top: 240px;
    padding-bottom: 80px;
  }
  &__left {
    padding-top: 92px;
    display: flex;
    flex-direction: column;
    max-width: 346px;
  }
  &__heading {
    font-family: Acrom;
    font-size: 61.8px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 13px;
  }
  &__heading-small {
    font-family: Acrom;
    font-size: 25.9px;
    line-height: 1.2;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #ffffff;
    margin-bottom: 22px;
  }
  &__line {
    border: none;
    background-color: #ffffff;
    height: 2px;
  }
  &__line-thin {
    border: none;
    background-color: #ffffff;
    height: 1px;
  }
  &__text {
    font-family: Acrom;
    font-size: 18.6px;
    line-height: 1.2;
    font-weight: 500;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 27px;
    margin-bottom: 24px;
  }
  &__text-bold {
    font-family: Acrom;
    font-size: 18.6px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 26px;
  }
  &__minis {
    margin-top: 42px;
    display: flex;
    justify-content: space-between;
  }
  &__mini {
    border: 2px solid #ffffff;
    height: 164px;
    width: 164px;
    box-sizing: border-box;
    display: flex;
  }
  &__mini:first-child {
    margin-right: 15px;
  }
  &__center {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 30px;
  }
  &__center img{
    width: 100%;
  }
  &__controls {
    padding-top: 48px;
    width: 200px;
    display: flex;
    justify-content: space-between;
  }
  &__control {
    display: flex;
    align-items: center;
    background: none;
    font-family: Acrom;
    font-size: 15.7px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    cursor: pointer;
    border: none;
  }
  &__right {
    padding-top: 92px;
    width: 323px;
  }
  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 51px;
  }
  &__cell {
    font-family: Acrom;
    font-size: 12.4px;
    line-height: 29px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__price {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 35px 0 31px 0;
  }
  &__amount {
    font-family: Acrom;
    font-size: 30.3px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
  }
  &__currency {
    font-family: Arial;
    font-size: 29.7px;
    font-weight: 400;
    color: #ffffff;
  }
  &__button {
    width: 100%;
    text-align: center;
    // padding: 28px 89px 30px 86px;
    padding-top: 28px;
    padding-bottom: 30px;
    border: 2px solid #ffffff;
    font-family: Acrom;
    font-size: 13.6px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.075em;
    color: #ffffff;
    background: none;
    margin-bottom: 17px;
    transition: 1s;
  }
  &__button:hover {
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
  }
  &__links {
    width: 65px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
  }

  @media (max-width:1180px) {
    background: url(../img/watch-card/back-clear.png);
    background-size: 100% 100%;
    &__flex {
      align-items: center;
    }
    &__left {
      padding-top: 0;
      padding-bottom: 180px;
    }
    &__right {
      padding-top: 0;
    }
  }
  @media (max-width:1120px) {
    margin-top: -160px;
  }
  @media (max-width:1020px) {
    &__flex {
      flex-wrap: wrap;
      align-items: flex-start;
    }
    &__left {
      padding-bottom: 50px;
    }
    &__center {
      margin: 0;
      width: 385px;
    }
    &__center img{
      width: 70%;
    }
    &__right {
      width: 100%;
    }
    &__grid {
      width: 47%;
    }
  }
  @media (max-width:767px) {
    &__flex {
      flex-direction: column;
      align-items: center;
      padding-top: 180px;
    }
    &__left {
      padding-bottom: 0;
    }
    &__center {
      padding-top: 50px;
      width: 100%;
    }
    &__right {
      width: 323px;
      padding-top: 50px;
    }
    &__grid {
      width: 100%;
    }
  }
  @media (max-width:375px) {
    &__mini {
      height: 130px;
      width: 130px;
    } 
    &__right {
      padding-top: 50px;
      width: 290px;
      // display: flex;
      // flex-direction: column;
      // align-items: center;
    }
  }
}
